extends layout

block content
  h1= title

  article.item-article
  p.item-article__description= item.description
  p Price: $#{ item.price }
  p In Stock: $#{ item.qtyInStock }
  p Category:
    a(href=item.category.url) #{ item.category.name }

  p 
    a(href=item.url + '/delete') Delete item
  p 
    a(href=item.url + '/update') Update item
